<!DOCTYPE html>
<head>
  <title>battler</title>
  <script>
    // function displayNextImage() {
    //     x = (x === resultloop.length - 1) ? 0 : x + 1;
    //     document.getElementById("img").src = resultloop[x];
    // }
    // // function displayPreviousImage() {
    // //     x = (x <= 0) ? resultloop.length - 1 : x - 1;
    // //     document.getElementById("img").src = resultloop[x];
    // // }
    // function startTimer() {
    //     setInterval(displayNextImage, 3000);
    // }
    // var resultloop = {{ resultloop|safe }}, x = -1;
    // // var resultloop = {{ resultloop|safe }};
    // console.log(resultloop)
  </script>

</head>

<body>
  <h1>Gamestate</h1>
  <p>Here are your name(s)</p>
  <p>{{ pOne }}</p
  <br>
  <p>{{ pTwo }}</p
  <br>
  <a href="/battler"><input type="button" value="home screen"></a>
</body>
