<!DOCTYPE html>
<head>
  <title>battler</title>
</head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
  $(document).ready(function() {
     $('input[type="radio"]').click(function() {
         if($(this).attr('id') == 'two-player') {
              $('#two_p').show();
         }
         else {
              $('#two_p').hide();
         }
     });
  });
</script>

<body>
  <h1>Battler</h1>
  <p>select no. of players</p>
  <form action="">
    <input type="radio" name="player_no" id="one-player" value="one_player"> OnePlayer<br>
    <input type="radio" name="player_no" id="two-player" value="two_player"> TwoPlayer<br>
  </form>
  <p>enter your name(s)</p>
    <form action="/name_entered" method="POST">
      <input type="text" placeholder="PlayerOne" name="player_name">
      <input type="submit" value="Enter">
      <div id="two_p" class="hide" style='display:none'>
        <input type="text" placeholder="PlayerTwo" name="player_two_name">
      </div>
    </form>
</body>
